body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
}
.head {
  font-size: 3.5em;
  font-weight: bold;
}

.bg1 {
  background: linear-gradient(45deg, black, rgba(93, 93, 93, 1));
  height: 100vh;
  text-align: center;
}
.btn {
  border-radius: 20px;
  border: none;
  background: linear-gradient(270deg, #ff5c00 0%, #ffb800 99.99%, #ffb800 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  width: 20%;
  margin-top: -3.5em;
}
.bg {
  height: 100vh;
  background: linear-gradient(45deg, black, #222222, rgba(93, 93, 93, 1));
  box-shadow: inset 0px 0px 15px 20px #000000;
  color: white;
  text-align: center;
  line-height: 1;
  font-family: inherit;
}
.icon {
  font-size: 35px;
  margin-right: 5px;
  color: #ffb800;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  background: rgba(74, 74, 74, 1);
  backdrop-filter: blur(65px);
  border-radius: 20px;
  height: 48vh;
  box-shadow: 0px 3px 1px #656565 inset;
  justify-content: center;
  align-items: center;
  text-overflow: none;
  padding: 1em 1.5em;
}
.text {
  width: 200px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .bg,
  .bg1 {
    align-items: flex-start;
    height: 100%;
    padding: 3em 0;
  }
  .heading {
    font-size: 12px;
  }
  .item {
    height: 100%;
  }
  .head {
    font-size: 2em;
  }
  .btn {
    margin-top: -2.5em;
  }
}
